@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    font-family: 'Raleway', Verdana, sans-serif;
}
.container {
    width: 1050px;
    margin: 0 auto;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    clear: both;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
    background-color: black;
}
header p {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    font-weight: 300;
}
header p span {
    color: #28cfb5;
    font-weight: bold;
    line-height: 40px;
}
header nav ul {
    float: right;
}
.li-1, .li-2, .li-3 {
    display: inline-block;
    position: relative;
    line-height: 40px;
    margin-left: 50px;
}
header nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
header nav ul li>div {
    box-sizing: content-box;
    display: none;
    padding-top: 20px;
    position: absolute;
    width: 102px;

}
.dropdown-1, .dropdown-2 {
    display: block;
    position: absolute;
    background-color: black;
    top: 15px;
    left: -18px;
    padding: 15px 10px 15px 10px;
    line-height: 14px;
    color: white;
}
.li-1-arrow, .li-2-arrow {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: black;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}
/*
.li-1:hover >div, .li-2:hover >div {
    display: block;
}
*/
.li-1 li:nth-child(2), .li-2 li:nth-child(2) {
    margin: 15px 0;
}
.li-2 li:first-child {
    white-space: nowrap;
}
#intro {
    width: 100%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 56%, rgba(208,207,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(56%, rgba(246,246,246,1)), color-stop(100%, rgba(208,207,215,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 56%, rgba(208,207,215,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 56%, rgba(208,207,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 56%, rgba(208,207,215,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 56%, rgba(208,207,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cfd7', GradientType=0 );
}
#intro .container div {
    float: left;
    height: 480px;
}
#intro .arrow-left, #intro .arrow-right {
    display: block;
    width: 5%;
    line-height: 480px;
}
#intro .arrow-left button, #intro .arrow-right button {
    margin: auto 0;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 70px;
    color: #25c5a9;
    font-weight: 300;
    cursor: pointer;
    text-align: left;
}
button:focus {
    outline: none;
}
#intro .arrow-right button {
    text-align: right;
}
#intro .image, #intro .image-describtion {
    width: 45%;
}
#intro .image .image-img {
    display: none;
    width: 100%;
    background: url('../images/black_chair.png') no-repeat center center;
}
#intro .image .image-img:nth-child(2) {
    display: none;
    width: 100%;
    background: url('../images/orange.png') no-repeat center center;
}
#intro .image .image-img:last-child {
    display: none;
    width: 100%;
    background: url('../images/red.png') no-repeat center center;
}
#intro .image-describtion {
    text-align: center;
    padding-right: 80px;
}
#intro .image-describtion h1 {
    margin-top: 120px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
}
#intro .image-describtion h1 span {
    color: #25c5a9;
    font-weight: bold;
}
#intro .image-describtion p {
    font-size: 14px;
    line-height: 22px;
    padding: 40px 0;
}
#intro .image-describtion a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #25c5a9;
    padding: 12px 45px;
    border-radius: 10px;
    font-family: 'Raleway';
    border-style: none;
}
#intro .image-describtion a:hover {
    background-color: white;
    color: #25c5a9;
    border: 1px solid #25c5a9;
}

/*-*-*-* SECTION 'GALLERY' *-*-*-*/

#gallery {
    width: 100%;
    background-color: white;
}
#gallery .container {
    padding-top: 25px;
    padding-bottom: 70px;
}
#gallery .content1 {
    float: left;
    height: 225px;
    width: 330px;
    background: url('../images/box1_img.jpg') no-repeat;
}
#gallery .content1 div, #gallery .content2 div {
    width: 100%;
    background-color: rgba(255,255,255,0.45);
    padding: 20px 10px;
    margin-top: 150px;
}
#gallery .content1 .content1-describtion span {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 50px;
    border-bottom: 7px solid #25c5a9;
}
#gallery .content2 .content2-describtion span {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 7px solid #25c5a9;   
}
#gallery .content2 {
    float: left;
    height: 225px;
    width: 330px;
    background: url('../images/box2_img.jpg') no-repeat;
    margin: 0 29px;
}
#gallery .content3 {
    float: left;
    height: 250px;
    width: 330px;
    border: 1px solid #dbdbdb;
    padding: 30px 20px;
    color: #8b8b8b;
}
#gallery .content3 span {
    color: black;
    font-weight: bold;
    padding-right: 30px;
    border-bottom: 7px solid #25c5a9;
}
#gallery .content3 p {
    margin-top: 20px;
}

/*-*-*-* SECTION #PRICES *-*-*-*/

#prices {
    width: 100%;
    height: 725px;
    background-color: #eaeaec;
}
#prices .container {
    padding: 50px 0;
}
#prices .prices-header {
    width: 100%;
    float: left;
    clear: both;
}
#prices .prices-header span {
    font-size: 20px;
    padding-right: 250px;
    padding-bottom: 5px;
    border-bottom: 7px solid #25c5a9;
    text-transform: uppercase;
    clear: both;
}

/*-*-*-* 1-WSZA KARTA Z CENAMI *-*-*-*/

#prices .price1 {
    position: relative;
    float: left;
    width: 330px;
    height: 500px;
    border: 2px solid #d5d5d5;
    background-color: #f9f9f9;
    margin-top: 80px;
    text-align: center;
}
.price1 > span {
    display: block;
    text-transform: uppercase;
    color: #25c5a9;
    padding-top: 40px;
    font-size: 20px;
}
#prices .price1-value {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #d5d5d5;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 40px;
    color: #c0c0c0;
    font-weight: bold;
    margin: 30px auto;
}
#prices .price1-value span {
    font-size: 12px;
    vertical-align: text-top;
    font-weight: normal;
}
#prices .price1 .price1-describtion .price1-opt1 {
    width: 100%;
    background-color: #e4e4e4;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price1 .price1-describtion .price1-opt2 {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px 0;
    font-size: 25px;
    margin-bottom: 110px;
    color: #828282;
}
#prices .price1 .price1-describtion button {
    background-color: #25c5a9;
    padding: 8px 30px;
    border-radius: 9px;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Raleway';
    color: white;
    font-size: 16px;
}

/*-*-*-* 2-GA KARTA Z CENAMI *-*-*-*/

#prices .price2 {
    position: relative;
    float: left;
    width: 330px;
    height: 500px;
    border: 2px solid #d5d5d5;
    background-color: #f9f9f9;
    margin: 80px 29px 65px 29px;
    text-align: center;
}
.price2 > span {
    display: block;
    text-transform: uppercase;
    color: #25c5a9;
    padding-top: 40px;
    font-size: 20px;
}
#prices .price2-value {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #d5d5d5;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 40px;
    color: #c0c0c0;
    font-weight: bold;
    margin: 30px auto;
}
#prices .price2-value span {
    font-size: 12px;
    vertical-align: text-top;
    font-weight: normal;
}
#prices .price2 .price2-describtion .price2-opt1 {
    width: 100%;
    background-color: #e4e4e4;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price2 .price2-describtion .price2-opt2 {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price2 .price2-describtion .price2-opt3 {
    margin-bottom: 70px;
    width: 100%;
    background-color: #e4e4e4;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price2 .price2-describtion button {
    background-color: #25c5a9;
    padding: 8px 30px;
    border-radius: 9px;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Raleway';
    color: white;
    font-size: 16px;
}

/*-*-*-* 3-CIA KARTA Z CENAMI *-*-*-*/

#prices .price3 {
    position: relative;
    float: left;
    width: 330px;
    height: 500px;
    border: 2px solid #d5d5d5;
    margin-top: 80px;
    background-color: #f9f9f9;
    text-align: center;
}
.price3 > span {
    display: block;
    text-transform: uppercase;
    color: #25c5a9;
    padding-top: 40px;
    font-size: 20px;
}
#prices .price3-value {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #d5d5d5;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 40px;
    color: #c0c0c0;
    font-weight: bold;
    margin: 30px auto;
}
#prices .price3-value span {
    font-size: 12px;
    vertical-align: text-top;
    font-weight: normal;
}
#prices .price3 .price3-describtion .price3-opt1 {
    width: 100%;
    background-color: #e4e4e4;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price3 .price3-describtion .price3-opt2 {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price3 .price3-describtion .price3-opt3 {
    width: 100%;
    background-color: #e4e4e4;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price3 .price3-describtion .price3-opt4 {
    margin-bottom: 30px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px 0;
    font-size: 25px;
    color: #828282;
}
#prices .price3 .price3-describtion button {
    background-color: #25c5a9;
    padding: 8px 30px;
    border-radius: 9px;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Raleway';
    color: white;
    font-size: 16px;
}

/*-*-*-* KROPKI NAD KARTAMI Z CENAMI *-*-*-*/

.price1-circle, .price2-circle, .price3-circle {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 57px;
    height: 57px;
    border: 2px solid #d5d5d5;
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}
.price1-dot, .price2-dot, .price3-dot {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background-color: #c2c2c2;
    border-radius: 100%;
    z-index: 2;
}

/*-*-*-* EFEKT PODŚWIETLENIA PO NAJECHANIU MYSZĄ NA ELEMENTY 'PRICES' *-*-*-*/

/* HIGHLIGHT 'PRICE1' */
#prices .price1:hover, #prices .price1:hover .price1-circle {
    background-color: #25c5a9;
    border: 2px solid #25c5a9;
}
#prices .price1:hover .price1-header {
    color: white;
}
#prices .price1:hover .price1-dot {
    background-color: white;
}
#prices .price1:hover .price1-value {
    border: #25c5a9;
}
#prices .price1:hover .price1-opt1 {
    background-color: white;
}
#prices .price1:hover .price1-opt2 {
    background-color: #e4e4e4;
}
#prices .price1:hover button {
    background-color: white;
    color: #25c5a9;
}

/* HIGHLIGHT 'PRICE2' */
#prices .price2:hover, #prices .price2:hover .price2-circle {
    background-color: #25c5a9;
    border: 2px solid #25c5a9;
}
#prices .price2:hover .price2-header {
    color: white;
}
#prices .price2:hover .price2-dot {
    background-color: white;
}
#prices .price2:hover .price2-value {
    border: #25c5a9;
}
#prices .price2:hover .price2-opt1 {
    background-color: white;
}
#prices .price2:hover .price2-opt2 {
    background-color: #e4e4e4;
}
#prices .price2:hover .price2-opt3 {
    background-color: white;
}
#prices .price2:hover button {
    background-color: white;
    color: #25c5a9;
}

/* HIGHLIGHT 'PRICE3' */
#prices .price3:hover, #prices .price3:hover .price3-circle {
    background-color: #25c5a9;
    border: 2px solid #25c5a9;
}
#prices .price3:hover .price3-header {
    color: white;
}
#prices .price3:hover .price3-dot {
    background-color: white;
}
#prices .price3:hover .price3-value {
    border: #25c5a9;
}
#prices .price3:hover .price3-opt1 {
    background-color: white;
}
#prices .price3:hover .price3-opt2 {
    background-color: #e4e4e4;
}
#prices .price3:hover .price3-opt3 {
    background-color: white;
}
#prices .price3:hover .price3-opt4 {
    background-color: #e4e4e4;
}
#prices .price3:hover button {
    background-color: white;
    color: #25c5a9;
}

/*-*-*-* SECTION 'FORM' *-*-*-*/

#form {
    width: 100%;
    background-color: white;
}
#form .container {
    padding: 50px 0;
    height: 650px;
}
#form .form-header {
    width: 100%;
    margin-bottom: 63px;
}
#form .form-header span {
    font-size: 20px;
    padding-right: 233px;
    padding-bottom: 5px;
    border-bottom: 7px solid #25c5a9;
    text-transform: uppercase;
    clear: both;
}
#form .form {
    width: 100%;
    height: 371px;
}
#form .form .form-left {
    float: left;
    width: 635px;
}
#form .form .form-left input {
    width: 635px;
    height: 66px;
    border: 1px solid #a1e6d1;
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 300;
    color: #cfcfcf;
    padding-left: 10px;
}
#form form textarea {
    width: 635px;
    height: 190px;
    border: 1px solid #a1e6d1;
    font-size: 25px;
    font-family: 'Raleway';
    font-weight: 300;
    padding: 15px 0 0 10px;
    color: #cfcfcf;
}
#form form input:nth-child(2) {
    margin: 25px 0;
}
#form .form .form-right {
    float: right;
    width: 343px;
    height: 376px;
}
#form form .form-image {
    position: relative;
    top: -25px;
    float: right;
    width: 343px;
    height: 210px;
    background: url('../images/red_chair.png') no-repeat center center;
    margin: 0 auto;
}
#form .form .form-right input[type=checkbox] {
    border: 1px solid #25c5a9;
    color: #cfcfcf;
    width: 50px;
    height: 50px;
}
#form .form .form-right input[type=checkbox i]:checked {
    background: url('../images/form_ok.jpg');
}
#form .form .form-right input[type=submit] {
    width: 343px;
    height: 70px;
    border: none;
    background-color: #25c5a9;
    border-radius: 10px;
    margin-top: 20px;
}

/* FOOTER */

#footer {
    width: 100%;
    margin-bottom: 50px;
}
#footer .copyright {
    float: left;
    font-family: 'Raleway';
    color: #828282;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
}
#footer p {
    float: right;
    font-family: 'Raleway';
    color: #828282;
    text-transform: uppercase;
    padding-left: 70px;
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}
#footer p span {
    font-weight: bold;
}
#footer .footer-media {
    float: right;
}








